

    <div id="wrapper">
      <h1>News Scraper</h1>
      <h2><i>www.eluniversal.com.mx</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>





{{!-- <ul>
  {{#each news}}
  {{>news/article-block}}
  {{/each}}
</ul> --}}